* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// FONT FACES
@font-face {
  font-family: 'poppins-medium';
  src: url(./fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: 'poppins-light';
  src: url(./fonts/Poppins/Poppins-Light.ttf);
}

// MIXINS
@mixin gridFr($column, $row : 0) {
  display: grid;
  grid-template-columns: repeat($column,1fr);
  grid-template-rows: repeat($row,1fr);
}
@mixin flexCenter {
  display:flex;
  justify-content: center;
  align-items: center;
}

// ESTILOS GLOBALES 
.background_body {
  background: #222 url(./images/29567.jpg);
  height: 100vh;
  background-blend-mode: multiply;
  background-size: 80%;
}
// ROOT
#root {
  font-family: 'poppins-medium',sans-serif, Helvetica, Arial;
  font-size: 18px;
  $blanco: #fff;
  // HEADER GENERAL
  .header {
    position: relative;
    .logout {
      position: absolute;
      right: 5px;
      top: 10%;
      padding: 0px;
      height: 80%;
      width: 70px;
    }
  }
  //COMPONENT LOGIN
  .login {
      background: #555  url(images/29568.jpg);
      background-blend-mode:multiply;
      background-size:80%;
      height: 100vh;
      @include flexCenter();
      flex-direction: column;
      .card {
          background-color: $blanco;
          width: 40%;
          max-width: 700px;
      }
  }
  //COMPONENT HOME
  .home {
    .meter {
      border: 1px solid $blanco;
      height: 60px;
      width: 50%;
      margin-bottom: 10px;
      border-radius: 3px;
      padding: 10px;
      @include flexCenter();
    }
    padding: 5px;
    color: $blanco;
    
    .contenedor-team_stats {
      @include gridFr(2);
      .grid-team {
        @include gridFr(3,2);
        row-gap: 10px;
        column-gap: 10px;
        div {
          border: 1px solid $blanco;
          position: relative;
          border-radius: 5px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
          .icon{
            position: absolute;
            width: 25px;
            border: none;
            background: transparent;
          }
          .info {
            top: 2px;
            left: 2px;
          }
          .trash {
            top: 2px;
            right: 2px;
          }
        }
      }
      .grid-powerstats {
        justify-content: center;
        .contenedor-powerstats {
          @include flexCenter();
          flex-direction: column;
        }
      }
      
    }
    .buscador {
      position: relative;
      .formulario {
        display: flex;
        background: $blanco;
        border-radius: 5px;
        padding: 0;
      }
      .error {
        position: absolute;
        bottom: -15%;
        text-align: center;
      }
    }

    .grid-resultados {
      @include gridFr(3);
      row-gap: 30px;
      column-gap: 30px;
      .grid-card {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        border: 1px solid $blanco;
        border-radius: 5px;
        padding: 5px;
        font-family: 'poppins-light', Arial, Helvetica, sans-serif;
        .contenedor-imagen{
          margin: auto auto;
          img {
            width: 90%;
          }
        }
        .contenedor-descripcion {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          h5{
            font-weight: 700;
            font-size: 1.2em;
          }
          span {
            font-size: 0.90em;
          }
        }
      }
    }
    .modals{
      text-transform: uppercase;
      position: fixed;
      top: 0;
      width: 100%;
      height: 50px;
      background: $blanco;
      color: #333;
      z-index: 200;
      animation: down 200ms linear 1 forwards;
    }
    
  }
  //COMPONENT DETAILS
  .contenedor-details{
    .details {
      position: relative;
      padding: 5px;
      width: 700px;
      margin: 0px auto;
      background-color: rgba(0, 0, 0, 0.48);
      color: $blanco;
      display: grid;
      grid-template-columns: 200px 485px;
      column-gap: 10px;
      font-family: 'poppins-light', Arial, Helvetica, sans-serif;
      .contenedor-imagen {
        img {
          width: 100%;
        }
      }
      .contenedor-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h2 {
          color: rgba(253, 249, 43, 0.863);
        }
        h4 {
          font-size: 1.2em;
        }
        p {
          font-size: 0.85em;
          color: rgb(180, 180, 180);
        }
      }

      .volver {
        position: absolute;
        right: 5px;
        top: 5px;
      }
    }

  }
  
}

// MEDIA QUERYS

@media (max-width: 500px){
  #root {
    font-size: 15px;
    .login {
        background-size:180%;
        .card {
            width: 90%;
        }
    }
    .home {
      .contenedor-team_stats{
        @include gridFr(1);
        .grid-powerstats{
          margin-top: 20px;
          .contenedor-powerstats {
            .meter {
              width: 70%;
            }
          }
        }
      }
      .grid-resultados {
        @include gridFr(1);
      }

    }
    .contenedor-details{
      .details {
        grid-template-columns: 1fr;
        width: 90%;
      }
    }
    
  }
}

@media (min-width: 1600px) and (max-width: 2000px){
  #root {
    font-size: 21px;
  }
}



// KEYFRAMES
@keyframes down {
    0%{
      transform: translateY(-100%);
    }
    100%{
      transform: translateY(0%);
    }
}